In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Parts 1 - 4
The original csv had two rows attached to the bottom that contained an index.  The csv() call was modified by passing "skipfooter_2" to correct this issuethe original csv file was not modified.

# Part 5
Drop the 'Value Footnotes' column, and rename the remaining columns to 'Country', 'Year', and 'GDP_Per_Capita'

In [72]:
# 1-4)
gdp_df = pd.read_csv('../data/Undata.csv', 
    skipfooter=2, engine='python')

# 5) Drop the 'Value Footnotes' column, and rename the remaining columns to 'Country', 'Year', and 'GDP_Per_Capita'
gdp_df = gdp_df.drop(
    "Value Footnotes", axis=1)
gdp_df.rename(
    columns={
        "Country or Area": "Country",
        "Value": "GDP_Per_Capita"})

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

# Part 6
How many rows and columns does gdp_df have? What are the data types of its columns? If any of the columns are not the expected types, figure out why and fix it.