In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
data = pd.read_csv('../data/Undata.csv')
gdp_df = data.drop([6866,6867])

TypeError: range expected at least 1 argument, got 0

In [24]:
gdp_df

,Country or Area,Year,Value,Value Footnotes
0,Afghanistan,2019,2065.036398,NaN
1,Afghanistan,2018,2033.779002,NaN
2,Afghanistan,2017,2058.383832,NaN
3,Afghanistan,2016,2057.062164,NaN
4,Afghanistan,2015,2068.265904,NaN
...,...,...,...,...
6864,Zimbabwe,1993,3033.504852,NaN
6865,Zimbabwe,1992,3054.889178,NaN
6866,Zimbabwe,1990,3324.348171,NaN
6867,footnoteSeqID,Footnote,NaN,NaN
6868,2,"Excludes South Sudan after July 9, 2011.",NaN,NaN